<div class="container">
  <div class="navbar col-lg-6">
    <h1 class="brand">
      <a href="/"><img alt="easypost" src="//easypost-static.s3.amazonaws.com/assets/easypost-logo-b877afa36439c8f8b6a6fab95a841b5b.png"></a>
      <span>Envelope Generator</span>
    </h1>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>

