#envelope-container {
  float: left;
  width: 900px;
}

#instructions-container {
  float: right;
  width: 250px;
}

.envelope input {
  border: 0;
  border-bottom: 1px solid rgba(73,127,153,0.3);
  color: rgb(63, 117, 143);
  width: 200px;
  clear: right;
  outline: none;
  padding: 4px;
  padding-bottom: 0;
  display: block;
}

.envelope.shadowed {
  -webkit-box-shadow: 0px 0px 8px #cacaca;
  -moz-box-shadow: 0px 0px 8px #cacaca;
  box-shadow: 0px 0px 8px #cacaca;
}

.envelope {
  margin-bottom: 20px;
  padding: 30px;
  background-color: #fff;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px -1px 0px #dcdcdc;
  -moz-box-shadow: 0px -1px 0px #dcdcdc;
  box-shadow: 0px -1px 0px #dcdcdc;
}

#rates td {
  width: 80px;
  border-bottom: 1px solid rgba(73, 127, 153, 0.3);
  border-top: 1px solid rgba(73, 127, 153, 0.3);
}

#rates td:nth-child(1) {
  width: 140px;
}

#rates td:nth-child(2), #rates td:nth-child(3) {
  text-align: right;
}

li.completed {
  font-weight: bolder;

  span {
    display: inline-block;
  }
}

li.not-completed span {
  display: none;
}

/* ------------------------------------------------------------------ Envelope Sizes */


/* -------------------------------------------------------------------------- COM 10 */
/* 4.125in x 9.5 in */
/* ratio 2.3:1 */
.com-10 {
  width: 900px;
  height: 392px;

  .from-address {
    position: absolute;
    top: 30px;
    left: 30px;

    input.address-city {
      width: 200px;
      display: inline-block;
    }

    input.address-state {
      width: 43px;
      text-align: center;
      display: inline-block;
    }

    input.address-zip {
      width: 89px;
      text-align: center;
      display: inline-block;
    }

    input {
      line-height: normal;
      font-size: 90%;
    }
  }

  .to-address {
    position: absolute;
    top: 170px;
    left: 270px;
    width: 350px;


    input.address-city {
      width: 200px;
      display: inline-block;
    }

    input.address-state {
      width: 43px;
      text-align: center;
      display: inline-block;
    }

    input.address-zip {
      width: 89px;
      text-align: center;
      display: inline-block;
    }

    input {
      line-height: normal;
      width: 340px;
      font-size: 110%;
    }
  }

  .postage {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 30px;
    right: 30px;
    border: 1px solid rgb(63, 117, 143);
    text-align: center;
    color: rgb(63, 117, 143);

    a {
      margin-top: 16px;
      display: inline-block;
    }

    img {
      width: 80px;
      height: 80px;
    }
  }

}
